@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('fonts/glyphicons-halflings-regular.eot');
  src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/glyphicons-halflings-regular.woff2') format('woff2'),
       url('fonts/glyphicons-halflings-regular.woff') format('woff'),
       url('fonts/glyphicons-halflings-regular.ttf') format('truetype'),
       url('fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
:root {
    --temaBg:#c42482;
    --temaColor: white;
}

::-webkit-scrollbar {
  width:  5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ff0000;
}
::-webkit-scrollbar-thumb:active {
  background: #ff0000;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #ffffff;
}
::-webkit-scrollbar-track:active {
  background: #ffffff;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

/*Klaslar*/
.bgTema{background: var(--temaBg)}
.borderT4{border-top: 4px solid}
.borderTema{border-color: var(--temaBg)!important}
.navbar{background: var(--temaBg)}
.bgKursun{background: #e9ecef}
/*Klaslar*/

/*Bootstrap reset*/
.row {
    margin-left: -9px;
    margin-right: -9px;
}
[class^="col-"],.container,.container-fluid {
    padding-left: 9px!important;
    padding-right: 9px!important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{background: var(--temaBg);}
/*Bootstrap reset.*/

body{overflow-y: scroll;letter-spacing: -1px}
.bolumBaslik .p-2{background: var(--temaBg);color: var(--temaColor);font-size: medium }
.bolumBaslik hr{background: var(--temaBg);height: 1px}
.post h1{
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: medium;
    color: white
}
.slayder,header{background: url('../img/global/slayderBg.png')}
.post .card::before{
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: absolute
}
