@media (max-width: 768px) {
    .login a,.uyeOl a{width: 100%}
    .uyeOl{margin-bottom: 5px}
}
@media (min-width: 576px) {

}

@media (min-width: 768px) {
    .uyeOl{margin : 0 5px;}
}

@media (min-width: 992px) {
    .sonEklenenler a{
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;        
    }
}

@media (min-width: 1200px) {

}
